@charset "UTF-8";
body {
  font-family: "Helvetica Neue",Arial, "Hiragino Kaku Gothic ProN","Hiragino Sans", Meiryo,sans-serif;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.bold {
  font-weight: 900;
}

p {
  line-height: 1.75;
  letter-spacing: 0.1em;
}

a {
  color: #ee3281;
}

/*============
スマホナビ
=============*/
.sp__nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

.open .sp__nav {
  left: 0;
  opacity: 1;
}

.sp__nav .inner {
  padding: 25px;
}

.sp__nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sp__nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

.sp__nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.sp__nav .inner ul li a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  .sp__nav {
    left: -220px;
    width: 220px;
  }
}

/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}

.toggle_btn span:nth-child(2) {
  top: 14px;
}

.toggle_btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle_btn span {
  background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

/*============
#mask
=============*/
#mask {
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

/*============
スマホナビここまで
=============*/
.slick-slide img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.header {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.header__nav_above {
  width: 100%;
  position: absolute;
  height: 36px;
  top: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.65);
}

.header__nav_above ul {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header__nav_above ul li {
  list-style-type: none;
  padding: .3em 1em;
}

.header__nav_above ul li a {
  color: #fff;
  text-decoration: none;
}

.header__title {
  margin: 0;
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: titledelay 1.5s ease;
          animation: titledelay 1.5s ease;
  text-shadow: 2px 2px 4px #000000;
}

.header__title span {
  color: #ee3281;
  color: #fff;
  display: block;
  font-size: .25em;
  font-weight: 100;
  text-align: center;
}

.header__image {
  position: absolute;
  bottom: 75px;
  right: 0;
  width: 25vw;
}

.header__image img {
  width: 100%;
}

.header__nav_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  background: #f7f7f7;
}

.header__nav_bottom ul {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav_bottom ul li {
  text-align: center;
  display: block;
  width: 100%;
  list-style-type: none;
  font-weight: 700;
}

.header__nav_bottom ul li:hover {
  border-bottom: #ee3281 4px solid;
  margin-bottom: -4px;
  padding-bottom: 0px;
}

.header__nav_bottom ul li a {
  display: block;
  width: 100%;
  color: #444;
  text-decoration: none;
}

.header__nav_bottom ul li a:hover {
  color: #ee3281;
}

.post_item_container {
  list-style-type: none;
}

.post_item_container li {
  padding: 8px 0;
}

.post_item_container li a {
  color: #000;
}

.post_item_container li a:hover {
  color: #ee3281;
}

.to_news a {
  font-weight: bold;
}

section {
  margin-top: 6em;
  position: relative;
}

section div {
  max-width: 1000px;
  margin: 0 auto;
}

section div .sectionTitle {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

section div .sectionTitle span {
  color: #ee3281;
  font-size: 18px;
  letter-spacing: 2px;
}

section div .sectionTitle span:after {
  content: "\A";
  white-space: pre;
}

section div h3 {
  margin-top: 3em;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

section div p {
  text-align: center;
  margin: 30px auto;
}

section div .outer-container {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section div .outer-container .business-left {
  width: 50%;
}

section div .outer-container .business-right {
  width: 50%;
  text-align: right;
}

section div .outer-container .business-right p {
  text-align: left;
}

section div .outer-container h3 {
  margin-top: 0;
  font-weight: 900;
  font-size: 4em;
  letter-spacing: .2em;
}

section div .outer-container h4 {
  text-align: center;
  color: #ee3281;
  font-weight: 700;
  font-size: 2;
  letter-spacing: .1em;
  margin-top: 2em;
}

section div .outer-container p {
  text-align: left;
}

section div .outer-container p.more {
  display: block;
  width: 240px;
  border-radius: 1em;
  letter-spacing: .2em;
  text-align: center;
  background-color: #32eeee;
  -webkit-box-shadow: 10px 10px 15px -10px;
          box-shadow: 10px 10px 15px -10px;
}

section div .outer-container p.more:hover {
  background-color: #ee3281;
  -webkit-transition: all .5s;
  transition: all .5s;
}

section div .outer-container p.more a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1em;
}

.campaign-container {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.campaign-container__item {
  width: 45%;
  padding: 16px;
  position: relative;
  -webkit-box-shadow: 10px 10px 15px -10px;
          box-shadow: 10px 10px 15px -10px;
}

.campaign-container__item .tokuten {
  margin-top: 0;
  position: absolute;
  top: -20px;
  padding: 20px;
  background-color: gold;
  border-radius: 50%;
  color: #fff;
}

.campaign-container__item p span {
  font-weight: bold;
  font-size: 2em;
  color: #ee3281;
}

.btn-outer {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-outer .btn,
.btn-outer a.btn,
.btn-outer button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-outer .btn-wrap {
  margin-top: 60px;
  width: 48%;
}

.btn-outer a.btn--main {
  color: #fff;
  background-color: #ee3281;
}

.btn-outer a.btn--main:hover {
  color: #fff;
  background: #ee3281;
  opacity: .7;
}

.btn-outer a.btn--sub {
  color: #fff;
  background-color: #32eeee;
  text-shadow: 1px 1px #777;
}

.btn-outer a.btn--sub:hover {
  color: #fff;
  background: #32eeee;
  opacity: .8;
}

.btn-outer .fa-position-left {
  position: absolute;
  top: calc(50% - .5em);
  left: 1rem;
}

.btn-outer a.btn-c {
  width: 100%;
  font-size: 1.25rem;
  position: relative;
  padding: 1.5rem 3rem 1.5rem 2rem;
  padding: 1.5rem;
}

.btn-outer a.btn-c span {
  font-size: .6em;
}

.btn-outer a.btn-c i.fa {
  margin-right: 1rem;
}

.btn-outer a.btn-c:before {
  font-family: 'Font Awesome 5 Free';
  font-size: 1.6rem;
  line-height: 1;
  position: absolute;
  top: calc(50% - .8rem);
  right: 1rem;
  margin: 0;
  padding: 0;
  content: '\f054';
}

.to_contact {
  display: block;
  width: 100%;
  margin-top: 4em;
  border-radius: 1em;
  letter-spacing: .2em;
  font-size: 24px;
  text-align: center;
  background-color: #ee3281;
  -webkit-box-shadow: 10px 10px 15px -10px;
          box-shadow: 10px 10px 15px -10px;
}

.to_contact:hover {
  background-color: #ee3281;
  background-color: #32eeee;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.to_contact a {
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.staff-container {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.staff-container .staff-item {
  width: 45%;
}

.staff-container .staff-item img {
  display: block;
  margin: 1em auto;
  width: 40%;
  float: left;
}

.staff-container .staff-item h4,
.staff-container .staff-item ul {
  clear: both;
  margin-top: 16px;
  list-style-type: none;
  line-height: 1.75;
}

.staff-container .staff-item p {
  text-align: center;
}

#staff {
  height: 100vh;
}

#staff p {
  text-align: left;
}

#contact {
  background: #fff;
}

.wpcf7-form p {
  text-align: left;
}

.wpcf7-form p label {
  text-align: left;
}

.wpcf7-form input,
.wpcf7-form textarea {
  width: 100%;
  border: 1px solid #eee;
  padding: 10px;
}

.wpcf7-form .wpcf7-submit {
  background: #ee3281;
  color: #fff;
  letter-spacing: .2em;
  font-size: 24px;
  padding: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 10px 10px 15px -10px;
          box-shadow: 10px 10px 15px -10px;
}

.wpcf7-form .wpcf7-submit:hover {
  background: #32eeee;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer {
  position: relative;
  background: #ee3281;
  padding: 32px 0;
  margin: 16vh 0 0 0;
  letter-spacing: .1em;
}

footer .footer_container {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  max-width: 1000px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

footer .footer_container__item {
  width: 25%;
  padding: 24px 8px;
}

footer .footer_container__item h5 {
  color: #fff;
  font-size: 1.25em;
  margin-bottom: 4vh;
}

footer .footer_container__item ul li {
  font-size: .85em;
  list-style-type: none;
  line-height: 2;
}

footer .footer_container__item ul li a {
  text-decoration: none;
  color: #fff;
}

footer .footer_container__item ul li a span {
  font-weight: 700;
}

.copyright {
  font-size: 11px;
  text-align: center;
  padding: 16px;
  color: #fff;
}

@-webkit-keyframes titledelay {
  from {
    opacity: 0;
    top: 60%;
  }
  50% {
    opacity: .4;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

@keyframes titledelay {
  from {
    opacity: 0;
    top: 60%;
  }
  50% {
    opacity: .4;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

.price-container {
  -webkit-box-shadow: 10px 10px 15px -10px;
          box-shadow: 10px 10px 15px -10px;
}

.price-container__table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  margin: 4em auto;
}

.price-container__table tr:last-child {
  border-bottom: solid 1px #ddd;
}

.price-container__table th {
  text-align: center;
  padding: 7px 0;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
  width: 155px;
}

.price-container__table th:nth-child(1) {
  background-color: #dddddd;
}

.price-container__table th:nth-child(2) {
  background-color: #f34955;
  color: #fff;
}

.price-container__table th:nth-child(3) {
  background-color: #f5b932;
  color: white;
}

.price-container__table th:nth-child(4) {
  background-color: #32eeee;
  color: white;
}

.price-container__table th:nth-child(5) {
  background-color: green;
  color: white;
}

.price-container__table tr:nth-child(2) td {
  font-size: 30px;
}

.price-container__table td {
  text-align: center;
  padding: 7px 0;
  padding: 0.7em 0;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
  width: 155px;
}

.price-container__table a {
  background-color: #25b327;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: bold;
}

.price-container__table .popular {
  width: 180px;
}

.price-container__table th.popular {
  position: relative;
}

.price-container__table th.popular span.no1 {
  position: absolute;
  top: -10px;
  left: calc(50% - 30px);
  background: #bdcc28;
  width: 60px;
  font-size: 10px;
  border-radius: 15px;
  line-height: 1;
  padding: 5px;
}

.price-container__table th.popular span.inner {
  position: absolute;
  color: white;
  background-color: #f34955;
  left: 0;
  bottom: 0;
  display: block;
  width: 180px;
  width: 249px;
  padding: 10px 0;
}

.price-container a {
  text-decoration: none;
}

.price-container__table tr:last-child td {
  font-size: .85em;
  padding: 1.5em;
}

.class_detail {
  text-align: right;
  margin-top: 12px;
  font-weight: normal;
}

.massage_detail {
  text-align: right;
}

.company-container {
  margin-top: 4em;
  -webkit-box-shadow: 10px 10px 15px -10px;
          box-shadow: 10px 10px 15px -10px;
}

.company-container table {
  width: 100%;
  border-collapse: collapse;
}

.company-container table tr {
  border-bottom: solid 2px white;
}

.company-container table tr:last-child {
  border-bottom: none;
}

.company-container table th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #32eeee;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.company-container table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #32eeee;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.company-container table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.single-content p {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  img {
    max-width: 100%;
  }
  .breadcrumbs {
    font-size: 11px;
  }
  .header {
    height: 50vh;
  }
  .header__nav_above {
    display: none;
  }
  .header__nav_above ul {
    display: none;
  }
  .header__title {
    font-size: 2.5em;
    top: 45%;
  }
  .header__title span {
    font-size: 0.275em;
  }
  .header__nav_bottom {
    display: none;
  }
  .header__image {
    width: 30vw;
  }
  section {
    margin-top: 4em;
  }
  section > div {
    padding: 1em;
  }
  section > div .sectionTitle {
    font-size: 32px;
  }
  section > div h3 {
    font-size: 20px;
  }
  section > div .outer-container {
    margin-top: 4em;
    display: block;
  }
  section > div .outer-container .fl,
  section > div .outer-container .fr {
    float: none;
  }
  section > div .outer-container .business-left {
    width: 100%;
  }
  section > div .outer-container .business-right {
    width: 100%;
    text-align: right;
  }
  section > div .outer-container .business-right p {
    text-align: left;
  }
  section > div .outer-container h3 {
    font-weight: 900;
    font-size: 2em;
    letter-spacing: .2em;
    margin-top: 1em;
  }
  section > div .outer-container h4 {
    color: #32eeee;
    font-weight: 700;
    letter-spacing: .1em;
    margin-top: 2em;
    text-align: left;
  }
  section > div .outer-container p {
    text-align: left;
  }
  section > div .outer-container p.more {
    display: block;
    width: 100%;
    color: #fff;
    padding: 0;
    border-radius: 12px 0;
    letter-spacing: .2em;
    text-align: center;
  }
  .campaign-container {
    display: block;
  }
  .campaign-container__item {
    width: 100%;
  }
  .btn-outer {
    display: block;
  }
  .btn-outer .btn-wrap {
    margin-top: 32px;
    width: 100%;
  }
  .btn-outer a.btn-c {
    width: 100%;
    font-size: 1rem;
  }
  .to_contact {
    font-size: 18px;
  }
  .to_contact a {
    padding: 12px 0;
  }
  .staff-container {
    margin-top: 4em;
    display: block;
  }
  .staff-container .staff-item {
    width: 100%;
  }
  .staff-container .staff-item img {
    width: 100%;
  }
  .staff-container .staff-item h4,
  .staff-container .staff-item p {
    text-align: left;
  }
  #staff {
    height: auto;
  }
  .wpcf7-form .wpcf7-submit {
    width: 100%;
    font-size: 18px;
    padding: 12px 0;
  }
  footer {
    padding: 16px;
    margin: 64px 0 0 0;
  }
  footer .footer_container {
    display: block;
  }
  footer .footer_container__item {
    width: 100%;
    padding: 4vh 0;
  }
  footer .footer_container__item h5 {
    color: #fff;
    font-size: 1.25em;
    margin-bottom: 4vh;
  }
  .price-container table {
    width: 100%;
    margin-top: 4em;
    border: 1px solid #eee;
  }
  .price-container table th,
  .price-container table td {
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    letter-spacing: 1px;
  }
  .price-container table td:nth-child(2) {
    font-weight: bold;
  }
  .price-container table td:last-child {
    padding-top: 0;
    font-size: .85em;
  }
  .price-container table tr:nth-child(1) th {
    background-color: #dddddd;
  }
  .price-container table tr:nth-child(2) th {
    background-color: #f34955;
    color: #fff;
  }
  .price-container table tr:nth-child(3) th {
    background-color: #f5b932;
    color: white;
  }
  .price-container table tr:nth-child(4) th {
    background-color: #32eeee;
    color: white;
  }
  .price-container table tr:nth-child(5) th {
    background-color: green;
    color: white;
  }
  .massage_detail {
    margin-top: 24px;
  }
  .detail_first {
    margin-top: 24px;
  }
  .company-container table {
    font-size: 12px;
  }
}

.wp-pagenavi {
  margin-top: 4em;
}

.wp-pagenavi a,
.wp-pagenavi span {
  border: none !important;
  padding: 3px 16px !important;
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */